In [213]:
import pandas as pd
fields = ['user', 'properties']
excel_df = pd.read_excel('Pandas_exercise.xlsx', usecols=fields)
excel_df.head()

                                          properties    user
0  {'brand_partner_name': 'NewHomeSource', 'build...  katiej
1  {'brand_partner_name': 'NewHomeSource', 'city'...  katiej
2  {'brand_partner_name': 'NewHomeSource', 'build...  katiej
3  {'path': '/communities/sc/greenville-spartanbu...  katiej
4  {'brand_partner_name': 'NewHomeSource', 'build...  katiej

In [214]:
filt = excel_df['properties'].str.contains('filters_applied')
excel_df = excel_df.loc[filt]
excel_df.head(10)

                                             properties    user
1356  {'brand_partner_name': 'NewHomeSource', 'build...  dmarie
1357  {'Listings': [{'builder_id': '59497', 'builder...  dmarie
1358  {'brand_partner_name': 'NewHomeSource', 'code_...  dmarie
1359  {'brand_partner_name': 'NewHomeSource', 'build...  dmarie
1361  {'brand_partner_name': 'NewHomeSource', 'build...  dmarie
1362  {'Listings': [{'builder_id': '59497', 'builder...  dmarie
1363  {'brand_partner_name': 'NewHomeSource', 'code_...  dmarie
1364  {'Listings': [{'builder_id': '1082', 'builder_...  dmarie
1377  {'area_clicked': 'Image Url', 'brand_partner_n...  dmarie
1378  {'brand_partner_name': 'NewHomeSource', 'build...  dmarie

In [215]:
excel_df['properties'] = excel_df['properties'].apply(eval)

In [346]:
props = excel_df['properties']

In [342]:
# creating index column

temp = [i for i in range(len(excel_df))]
excel_df['index'] = temp
excel_df.set_index('index', inplace=True)
excel_df.head()

                                              properties    user
index
0      {'brand_partner_name': 'NewHomeSource', 'build...  dmarie
1      {'Listings': [{'builder_id': '59497', 'builder...  dmarie
2      {'brand_partner_name': 'NewHomeSource', 'code_...  dmarie
3      {'brand_partner_name': 'NewHomeSource', 'build...  dmarie
4      {'brand_partner_name': 'NewHomeSource', 'build...  dmarie

In [358]:
pool = {}
isgated = {}
golfcourse = {}
park = {}

# amenities considered [ park, pool, gated, golfcourse]

for index, data in props.iteritems():
    currDict = data['filters_applied']
    try:
        if(currDict.get('Pool') or currDict.get('pool')):
            if excel_df.iloc[index]['user'] in pool:
                pool[excel_df.iloc[index]['user']]+= 1
            else:
                pool[excel_df.iloc[index]['user']] = 1
        if(currDict.get('gated') or currDict.get('Gated')):
            if excel_df.iloc[index]['user'] in isgated:
                isgated[excel_df.iloc[index]['user']]+= 1
            else:
                isgated[excel_df.iloc[index]['user']] = 1
        if(currDict.get('parks') or currDict.get('Parks')):
            if excel_df.iloc[index]['user'] in park:
                park[excel_df.iloc[index]['user']]+= 1
            else:
                park[excel_df.iloc[index]['user']] = 1
        if(currDict.get('GolfCourse') or currDict.get('GolfCourse')):
            if excel_df.iloc[index]['user'] in park:                
                golfcourse[excel_df.iloc[index]['user']]+= 1
            else:
                golfcourse[excel_df.iloc[index]['user']] = 1
    except:
        print('Some error occured!')
        pass

print('Pool: ', pool)

Pool:  {'evenpa': 58, 'laurie': 101, 'mrswai': 100, 'lairdc': 107, 'linjas': 4, 'brytas': 4, 'dennis': 41, 'leoann': 17, 'ann.p.': 14, 'hreid9': 40, 'eant77': 42, 'davidl': 7, 'rodrig': 122, 'sidso': 17, 'jjcaro': 4, 'verena': 3, 'hezzie': 1, 'lesley': 152, 'ravipr': 35, 'dougla': 63, 'kw5898': 22, 'jdenny': 9, 'eta300': 8, 'easton': 168, 'kathyr': 55, 'behapp': 4}

In [359]:
print('IsGated: ', isgated)

IsGated:  {'shakir': 14, 'scotte': 64, 'bnorth': 3, 'gcfran': 15, 'dena.d': 18, 'lreyes': 33, 'preeth': 9, 'gracef': 1, 'triamo': 45, 'rjburt': 9, 'hreid9': 40, 'alimzw': 20, 'kdland': 54, 'margot': 107, 'sueitr': 20, 'ashwin': 21, 'getnes': 2, 'lamela': 82, 'dougla': 18, 'lilygo': 62, 'jpdegr': 53, 'h.dwig': 12, 'simmon': 15, 'bischo': 60, 'steven': 25, 'kaeven': 311, 'kathyr': 5}

In [360]:
print('GolfCourse: ', golfcourse)

GolfCourse:  {'luanab': 1, 'tb8675': 1, 'mrsann': 1, 'cherie': 1, 'dougla': 1, 'las127': 1, 'kathyr': 1}

In [361]:
print('Park: ', park)

Park:  {'dmue19': 2}